body{
  
}

.jumbotron .container{
  text-align: center;
}

.jumbotron {
  padding: 20em;
  background: #333;
  background-image: url("../img/website-background.jpg") !important;
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.jumbotron .container h2 {
  color: black;
  position: relative;
  bottom: 20px;
  text-align: center;
}
.jumbotron .container button {
  text-align: center;
}
